/* core styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background: linear-gradient(212.18deg, #1C1D1E 18.4%, #2B2C2D 81.6%);
}

body::-webkit-scrollbar {
    display: none;
}

textarea {
    resize: none;
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* ---------- header --------- */
.header {
    width: 100%;
    height: 100px;
    padding: 0 30px;
}

.navbar {
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__link {
    display: flex;
    gap: 35px;
}

.nav__item a {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-bottom: 3px solid transparent;
}

.nav__item a:hover {
    border-bottom: 3px solid #fff;
}

.burger {
    display: none;
}

.burger__active {
    left: 0 !important;
}

.deactive {
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    z-index: 4;
    display: none;
}
.active {
    display: block;
}

/* ---------- main ---------- */
.main {
    position: relative;
}

.home {
    width: 100%;
    margin-bottom: 51px;
    height: 565px;
    position: relative;
}

.home-bg {
    width: 1577px;
    height: 565px;
    position: absolute;
    top: 100px;
    left: -39px;
    z-index: -1;
}

.media-bg {
display: none;
}

.img-box img {
    width: 468px;
    height: 433.4px;
    position: absolute;
    top: 164px;
    left: 206px;
}

.t-one {
    width: 216px;
    height: 72px;
    position: absolute;
    top: 228px;
    left: 895px;
    font-size: 64px;
    font-weight: 700;
    line-height: 71.63px;
    color: #999999;
}

.t-two {
    width: 210px;
    height: 72px;
    position: absolute;
    top: 314px;
    left: 1034px;
    font-size: 64px;
    font-weight: 700;
    line-height: 71.63px;
    color: #999999;
}

.t-three {
    width: 151px;
    height: 72px;
    position: absolute;
    top: 407px;
    left: 1140px;
    font-size: 64px;
    font-weight: 700;
    line-height: 71.63px;
    color: #999999;
}

/* about */
.about {
    width: 100%;
    height: 700px;
    position: relative;
}

.about-title {
    font-size: 64px;
    font-weight: 700;
    color: #999999;
    position: absolute;
    top: 70px;
    left: 460px;
}

.saturn-icon {
    width: 549px;
    height: 503.2px;
    position: absolute;
    top: 76px;
    left: 739px;
}

.plus-cion {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 597px;
    left: 1320px;
}

.plus-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 183.3px;
    left: 138px;
    rotate: 50deg;
}

.about__text {
    padding: 39px 44px;
    position: absolute;
    width: 703px;
    top: 226.65px;
    left: 265.35px;
    border-radius: 11px;
    background: linear-gradient(98.13deg, rgba(30, 30, 30, 0.75) 14.04%, rgba(23, 23, 23, 0.73) 87.76%);
}

.about__text p {
    font-size: 32px;
    font-weight: 400;
    color: #FFFFFF;
    width: 616px;
}

.circle-simp {
    width: 123px;
    height: 123px;
    position: absolute;
    top: 615px;
    left: 585px;
    z-index: -1;
    rotate: -54.17deg;
}

/* course section */
.courses {
    width: 1440px;
    height: 600px;
    position: relative;
}

.pluton-icon {
    width: 484px;
    height: 458.01px;
    position: absolute;
    top: -10px;
    left: -141px;
    z-index: -1;
}

.card-wrapper {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 57px;
}

.card {
    width: 351px;
    height: 401px;
    border-radius: 11px;
    padding: 50px;
    background: linear-gradient(98.13deg, rgba(30, 30, 30, 0.75) 14.04%, rgba(23, 23, 23, 0.73) 87.76%);
}

.card-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 44.77px;
    color: #FFFFFF;
    text-align: center;
}

.card-main {
    width: 243px;
    font-size: 24px;
    font-weight: 700;
    line-height: 26.86px;
    text-align: center;
    color: #fff;
}

.card-pric {
    font-size: 40px;
    font-weight: 700;
    line-height: 44.77px;
    color: #fff;
    text-align: center;
    margin-top: 19px;
}

.course-title p {
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 700;
    line-height: 71.63px;
    rotate: 90deg;
    position: absolute;
    top: 158px;
    left: 1300px;
}

.l-one {
    width: 174px;
    height: 0px;
    position: absolute;
    top: -28px;
    left: 1340px;
    rotate: 90deg;
}

.l-two {
    width: 169px;
    height: 0px;
    position: absolute;
    top: 415px;
    left: 1340px;
    rotate: 90deg;
}

/* contact */
.contact {
    display: flex;
    gap: 72px;
    justify-content: center;
    margin-bottom: 50px;
}

.contact-us {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.contact-us input {
    width: 300px;
    height: 50px;
    top: 50px;
    left: 970px;
    border: 1px solid #3D3D3D;
    background: #3D3D3D;
    outline: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 26.86px;
    color: white;
    padding-left: 21px;
}

.contact-us input::placeholder {
    color: #848484;
}

.contact-us textarea {
    width: 300px;
    height: 199px;
    top: 192px;
    left: 970px;
    border: 1px solid #3D3D3D;
    outline: none;
    background: #3D3D3D;
    font-size: 24px;
    font-weight: 400;
    line-height: 26.86px;
    color: white;
    padding-left: 21px;
    padding-top: 11px;
    font-family: sans-serif;
}

.contact-us textarea::placeholder {
    color: #848484;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.btn-group a {
    width: 50px;
    height: 50px;
    top: 412px;
    left: 970px;
    background: #848484;
    padding: 8px 10px;
}

.btn-group .bi {
    font-size: 30px;
    color: #999999;
}

.btn-group a:hover .bi {
    color: #fff;
}

.btn-group button {
    width: 152px;
    height: 50px;
    top: 412px;
    left: 1118px;
    font-size: 24px;
    font-weight: 400;
    line-height: 26.86px;
    background: #848484;
    border: none;
    outline: none;
    cursor: pointer;
    color: #999999;
}

.btn-group button:hover {
    color: #fff;
}

.l-thre {
    width: 239px;
    border: 1px solid #6C6C6C;
    margin: 0 auto;
}

.ft-group {
    display: flex;
    gap: 27px;
}

.ft-group p {
    font-size: 16px;
    font-weight: 400;
    line-height: 17.91px;
    color: rgba(153, 153, 153, 0.93);
}

.ft-group a {
    font-size: 16px;
    font-weight: 400;
    line-height: 17.91px;
    color: rgba(153, 153, 153, 0.93);
}

.ft-group a:hover {
    color: white;
}

/* footer */
.footer {
    background: #121212;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    height: 253px;
    margin: 0 auto;
}

.footer-box {
    display: flex;
    align-items: center;
    gap: 19px;
}

.footer-box p {
    width: 101px;
}

.ft-main {
    width: 825px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: center;
}