/* core styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;
    background: linear-gradient(212.18deg, #1C1D1E 18.4%, #2B2C2D 81.6%);
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* ---------- header --------- */
.header {
    width: 100%;
    height: 100px;
}

.navbar {
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__link {
    display: flex;
    gap: 35px;
}

.nav__item a {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-bottom: 3px solid transparent;
}

.nav__item a:hover {
    border-bottom: 3px solid #fff;
}

/* ---------- main ---------- */

.home {
    width: 100%;
    margin-bottom: 51px;
    height: 565px;
    position: relative;
}

.home-bg {
    width: 1643px;
    height: 565px;
    position: absolute;
    top: 100px;
    left: -75px;
    z-index: -1;
}

.img-box img {
    width: 468px;
    height: 433.4px;
    position: absolute;
    top: 164px;
    left: 206px;
    fill: linear-gradient(124.92deg, #7D7D7D 13.71%, #FCFEFF 91.24%);
}

.t-one {
    width: 216px;
    height: 72px;
    position: absolute;
    top: 228px;
    left: 895px;
    font-size: 64px;
    font-weight: 700;
    line-height: 71.63px;
    color: #999999;
}

.t-two {
    width: 210px;
    height: 72px;
    position: absolute;
    top: 314px;
    left: 1034px;
    font-size: 64px;
    font-weight: 700;
    line-height: 71.63px;
    color: #999999;
}

.t-three {
    width: 151px;
    height: 72px;
    position: absolute;
    top: 407px;
    left: 1140px;
    font-size: 64px;
    font-weight: 700;
    line-height: 71.63px;
    color: #999999;
}

/* about */
.about {
    width: 100%;
    height: 700px;
    position: relative;
}

.about-title {
    font-size: 64px;
    font-weight: 700;
    color: #999999;
    text-align: center;
}

.saturn-icon {
    width: 549px;
    height: 503.2px;
    position: absolute;
    top: 76px;
    left: 739px;
}

.plus-cion {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 597px;
    left: 1320px;
}

.plus-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 183.3px;
    left: 138px;
    rotate: 50deg;
}

.about__text {
    padding: 39px 44px;
    position: absolute;
    width: 703px;
    top: 226.65px;
    left: 265.35px;
    border-radius: 11px;
    background: linear-gradient(98.13deg, rgba(30, 30, 30, 0.75) 14.04%, rgba(23, 23, 23, 0.73) 87.76%);
}

.about__text p {
    font-size: 32px;
    font-weight: 400;
    color: #FFFFFF;
    width: 616px;
}

.circle-simp {
    width: 123px;
    height: 123px;
    position: absolute;
    top: 1448px;
    left: -303.27px;
    z-index: 3;
    rotate: -54.17deg;
}