/* core styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;
    background: linear-gradient(212.18deg, #1C1D1E 18.4%, #2B2C2D 81.6%);
}

.wrapper {
    overflow: hidden;
}

/* ---------- header --------- */
.header {
    width: 100%;
    height: 100px;
}

.navbar {
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__link {
    display: flex;
    gap: 35px;
}

.nav__item a {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-bottom: 3px solid transparent;
}

.nav__item a:hover {
    border-bottom: 3px solid #fff;
}

/* ---------- main ---------- */

.home {
    margin-bottom: 51px;
}

.home-bg {
    width: 1600px;
    height: 565px;
    position: absolute;
    z-index: -1;
    top: 100px;
    left: -75px;
}

.img-box img {
    width: 468px;
    height: 433.4px;
    position: absolute;
    top: 164px;
    left: 206px;
    fill: linear-gradient(124.92deg, #7D7D7D 13.71%, #FCFEFF 91.24%);
}

.t-one {
    width: 216px;
    height: 72px;
    position: absolute;
    top: 228px;
    left: 895px;
    font-size: 64px;
    font-weight: 700;
    line-height: 71.63px;
    color: #999999;
}

.t-two {
    width: 210px;
    height: 72px;
    position: absolute;
    top: 314px;
    left: 1034px;
    font-size: 64px;
    font-weight: 700;
    line-height: 71.63px;
    color: #999999;
}

.t-three {
    width: 151px;
    height: 72px;
    position: absolute;
    top: 407px;
    left: 1140px;
    font-size: 64px;
    font-weight: 700;
    line-height: 71.63px;
    color: #999999;
}
/*  */